# Sistema e IDE
.DS_Store
.idea/
.vscode/
.vs/

# Java
out/
*.class

# Referência externa local
/ironturn/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
MemoryCaptures/
Recordings/
*.csproj
*.sln
*.user
